body{
	font-family: "Courier New", monospace;
	font-size: 14x;
	background-color: DarkCyan;
	color: white;
}


#wrapper{
	width: 350px;
	height: 100%;
	margin: auto;

}
#content{
	font-family: 'tahoma';
	background-color: black;
	opacity: 0.4;
	width: 350px;
	height: 100%;
}

h1{
	font-size: 2.5em;

	margin-top: 60px;
	font-family: "Courier New", monospace;
}
li{
	list-style-type: none;
}



button{
	font-family: "Courier New", monospace;
	width: 350px;
	height: 50px;
	border-radius: 10px;
	background-color: #ff006a;
	color:white;
	font-size: 1.7em;
	font-variant: small-caps;
	border: solid 1px gray;
	-moz-box-shadow: inset 0 0 10px #777777;
	-webkit-box-shadow: inset 0 0 10px #777777;
	box-shadow: inset 0 0 10px #777777;
}

button:hover{
	background-color: #ffbf00;
}